@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --gradient:#0d346e, #46438b, #7851a4, #ac5eb9, #e16bc8;
  --bg-color:#fff;
  --text-color:#28384d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

section {
  margin: 5rem 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .container {
    width: 95%;
  }
}

.font-lg {
  font-size: 4.375rem;
}

.font-med {
  font-size: 1.875rem;
}

.font-sm {
  font-size: 1.5rem;
}

.font-xsm {
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

.button {
  border: 0;
  background: var(--bg-color);
  padding: 1rem;
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
}

.button--gradient {
  position: relative;
  border-radius: 9999px;
  background: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--gradient:hover i:last-child {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.button--gradient * {
  margin: 0 0.5rem;
}

.button--gradient::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(var(--gradient)));
  background: linear-gradient(to left, var(--gradient));
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border-radius: 9999px;
  z-index: -1;
}

.button--normal {
  background: white;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1.3rem 2rem;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.button--normal:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.primary {
  position: relative;
  padding: 1rem;
  background: var(--bg-color);
  z-index: 1000;
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primary__logo {
  background-image: url("https://hype4.com/_next/static/images/hype4logo-59c8056ec05b9cc993fba9222a857a3b.svg");
  width: 140px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 99;
}

.primary__links {
  gap: 2rem;
  font-weight: 500;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.primary__links a {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: block;
}

.primary__links a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.7;
}

.primary__menu-icon {
  display: none;
  cursor: pointer;
  z-index: 99;
}

.primary__menu-icon span {
  display: block;
  background: var(--text-color);
  width: 2rem;
  height: 0.3rem;
  border-radius: 9999px;
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.primary__menu-icon span:not(:last-child) {
  margin-bottom: 0.3rem;
}

.primary .toggle-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.primary .toggle-icon span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.primary .toggle-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.primary .show-menu {
  height: 400px;
  top: 100%;
  visibility: visible;
  background: var(--bg-color);
  -webkit-box-shadow: 0 500px 0px 500px rgba(8, 34, 73, 0.7);
          box-shadow: 0 500px 0px 500px rgba(8, 34, 73, 0.7);
  overflow: hidden;
}

@media (max-width: 63.9375em) {
  .primary {
    width: 100%;
  }
  .primary__logo {
    background-image: url("https://d33wubrfki0l68.cloudfront.net/9345d23d2f969d16186fd3079d43531fd604d83a/aacd4/_next/static/images/logo2-ada9e569436aca956f81eff5202a3541.png");
    width: 35px;
    height: 35px;
    background-size: contain;
  }
  .primary__links {
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-box-shadow: 0 0 0 rgba(8, 34, 73, 0.7);
            box-shadow: 0 0 0 rgba(8, 34, 73, 0.7);
    height: 0;
    -webkit-transition: all 200ms, -webkit-box-shadow 700ms;
    transition: all 200ms, -webkit-box-shadow 700ms;
    transition: all 200ms, box-shadow 700ms;
    transition: all 200ms, box-shadow 700ms, -webkit-box-shadow 700ms;
    z-index: 1;
  }
  .primary__links li {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .primary__menu-icon {
    display: block;
  }
}

@media (min-width: 64em) {
  .show-menu {
    display: none;
  }
}

.showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 63, 94, 0.2)), color-stop(rgba(120, 81, 164, 0.2)), color-stop(transparent), color-stop(rgba(120, 81, 164, 0.2)), to(rgba(31, 63, 94, 0.2)));
  background: linear-gradient(to bottom, rgba(31, 63, 94, 0.2), rgba(120, 81, 164, 0.2), transparent, rgba(120, 81, 164, 0.2), rgba(31, 63, 94, 0.2));
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5rem 0;
  z-index: -2;
}

.showcase h1 {
  font-size: clamp(1.875rem, 8vw, 5.625rem);
  line-height: 1.2;
  margin-bottom: 4rem;
  max-width: 85%;
}

.showcase span {
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient)));
  background: linear-gradient(to right, var(--gradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-showcase {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-showcase h2 {
  font-size: clamp(1rem, 4vw, 1.875rem);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 30%;
  line-height: 1.2;
}

.bottom-showcase .sponsors {
  gap: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bottom-showcase .sponsors img {
  width: 100%;
}

@media (max-width: 63.9375em) {
  .bottom-showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 3rem;
  }
  .bottom-showcase h2 {
    max-width: 100%;
  }
}

@media (max-width: 44.9375em) {
  .bottom-showcase .sponsors {
    overflow-x: scroll;
    gap: 2rem;
  }
  .bottom-showcase .sponsors img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
}

.cards {
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card {
  width: 350px;
  -webkit-box-shadow: 0 1rem 2rem rgba(3, 50, 121, 0.1);
          box-shadow: 0 1rem 2rem rgba(3, 50, 121, 0.1);
  padding: 2rem 2rem;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  cursor: pointer;
}

.cards .card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.cards .card .left-card {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.cards .card .left-card *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cards .card .left-card a {
  font-weight: bold;
}

.cards .card .right-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-showcase .info {
  position: relative;
  bottom: -170px;
}

.project-showcase .info p {
  max-width: 45%;
}

.projects {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 2, 117, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 2, 117, 0.2);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  cursor: pointer;
}

.project:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.project__top {
  position: relative;
  background: var(--text-color);
  width: 100%;
  height: 300px;
}

.project__top img {
  position: absolute;
  width: 50%;
  height: 300px;
  inset: 0;
  bottom: -150px;
  margin: auto;
}

.project__bottom {
  padding: 3rem;
}

.project__bottom p {
  margin-bottom: 1rem;
}

.project:nth-child(1) {
  position: relative;
  top: 250px;
}

.project:nth-child(3) {
  position: relative;
  top: 250px;
}

.project:nth-child(5) {
  position: relative;
  top: 250px;
}

.project:nth-child(7) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media (max-width: 63.9375em) {
  .projects {
    -ms-grid-columns: 470px;
        grid-template-columns: 470px;
  }
  .project:nth-child(1) {
    position: static;
    top: auto;
  }
  .project:nth-child(3) {
    position: relative;
    top: auto;
  }
  .project:nth-child(5) {
    position: relative;
    top: auto;
  }
  .project:nth-child(7) {
    grid-column: auto;
  }
  .project-showcase .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: static;
    width: 60%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 2rem auto;
  }
  .project-showcase .info p {
    max-width: 80%;
  }
}

@media (max-width: 44.9375em) {
  .project-showcase .info p {
    display: none;
  }
}

.foe-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.foe-content .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
}

.foe-content .info__title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.pills {
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pills .pill {
  padding: 1rem 1.5rem;
  white-space: nowrap;
  text-align: center;
  border-radius: 9999px;
  -webkit-box-shadow: 0 5px 2rem rgba(39, 55, 76, 0.2);
          box-shadow: 0 5px 2rem rgba(39, 55, 76, 0.2);
  margin: 0 0.5rem;
}

.pills .opacity {
  padding: 1rem 3rem;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
  background: linear-gradient(90deg, transparent 0%, white 100%);
  -webkit-box-shadow: 25px 0 2rem rgba(39, 55, 76, 0.1);
          box-shadow: 25px 0 2rem rgba(39, 55, 76, 0.1);
}

.pills .right {
  -webkit-box-shadow: -25px 0 2rem rgba(39, 55, 76, 0.1);
          box-shadow: -25px 0 2rem rgba(39, 55, 76, 0.1);
}

@media (max-width: 63.9375em) {
  .foe-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
  }
  .pills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 44.9375em) {
  .fields-of-experience {
    display: none;
  }
}

.testimonials {
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .info {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
}

.track {
  position: relative;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96%;
  height: 600px;
  overflow-x: hidden;
}

.track::before {
  position: absolute;
  content: '';
  background: white;
  left: -40px;
  top: 0;
  height: 100%;
  width: 80px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: 1;
}

.track::after {
  position: absolute;
  content: '';
  background: white;
  right: -40px;
  top: 0;
  height: 100%;
  width: 80px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.track .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.track .row:first-child {
  -webkit-animation: slide-left 50s linear infinite;
          animation: slide-left 50s linear infinite;
}

.track .row:last-child {
  -webkit-animation: slide-right 50s linear infinite;
          animation: slide-right 50s linear infinite;
}

.track .card {
  position: relative;
  -webkit-box-shadow: 0 0 2rem rgba(39, 55, 76, 0.1);
          box-shadow: 0 0 2rem rgba(39, 55, 76, 0.1);
  border-radius: 0.3rem;
  width: 400px;
  padding: 3rem;
}

.track .card img {
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.companies {
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.companies h2 {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  font-size: clamp(1.5rem, 7vw, 1.875rem);
}

.companies__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 2rem;
}

.companies__icons img {
  min-width: 90px;
}

@media (max-width: 63.9375em) {
  .companies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-x: scroll;
  }
}

.top-section {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10rem 0;
}

.top-section .blue-bg {
  position: absolute;
  background: #8f8fe7;
  height: 120%;
  width: 70%;
  right: 0;
  z-index: -1;
}

.top-section .floating-box {
  position: absolute;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background: white;
}

.top-section .floating-box span {
  position: absolute;
  top: -20px;
  font-size: 1.5rem;
}

.top-section .floating-box:nth-child(1) {
  right: 20%;
  top: -10%;
}

.top-section .floating-box:nth-child(2) {
  right: 2%;
  top: 40%;
}

.top-section .floating-box:nth-child(3) {
  left: 20%;
  bottom: -10%;
}

.top-section .floating-box:nth-child(4) {
  left: 5%;
  top: -10%;
}

.text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 4rem;
  max-width: 800px;
  background: white;
}

.text-container .content {
  gap: 2rem;
}

.bottom-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-section h2 {
  max-width: 40%;
}

.bottom-section .buttons {
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-section .buttons p {
  font-weight: bold;
}

.bottom-section .buttons .button {
  position: relative;
}

.bottom-section .buttons .button span {
  position: absolute;
  top: -30px;
  left: 40%;
  font-size: 2rem;
}

@media (max-width: 63.9375em) {
  .top-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-section .blue-bg {
    width: 100%;
  }
  .top-section .text-container {
    max-width: 95%;
  }
  .top-section .floating-box:nth-child(2) {
    right: 0;
    top: 30%;
  }
  .bottom-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
  .bottom-section h2 {
    max-width: 70%;
  }
}

@media (max-width: 44.9375em) {
  .top-section {
    display: none;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
