@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

:root {
  --primary-color:#3740FF;
  --nav-bg-color: #FFFFFF;
  --bg-color: #FFFFFF;
  --odd-bg-color: #F8F9FA;
  --black:#333;
  --white:#FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-type: none;
}

section {
  padding: 5rem 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

body {
  background: var(--bg-color);
  color: var(--black);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.odd {
  background: var(--odd-bg-color);
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.section-info * {
  margin-bottom: 2rem;
}

.section-info .section-title {
  font-size: 2rem;
  font-weight: 500;
}

.section-info .section-description {
  color: #666666;
  max-width: 80%;
  font-weight: 300;
  font-size: 1.2rem;
}

@media (max-width: 49.9375em) {
  .section-info .section-description {
    max-width: 100%;
  }
}

@media (min-width: 64em) {
  .section-info .section-description {
    max-width: 60%;
  }
}

@media (min-width: 90em) {
  .section-info .section-description {
    max-width: 50%;
  }
}

.button--blue, .button--transparent {
  padding: 1.2rem 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button--blue:hover, .button--transparent:hover {
  -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

.button--blue {
  background: #3740FF;
  color: #FFFFFF;
}

.button--transparent {
  background: none;
  color: #3740FF;
  border: 1px solid var(--primary-color);
}

.button--transparent:hover {
  background: #eff1f4;
}

.site-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-header .primary {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

@media (min-width: 64em) {
  .site-header .primary {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.site-header .primary .left-nav {
  gap: 1rem;
}

.site-header .primary .left-nav .menu-icon {
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.site-header .primary .left-nav .menu-icon > span {
  display: block;
  background: var(--black);
  width: 1.2rem;
  height: .15rem;
  -webkit-transform-origin: .12rem;
          transform-origin: .12rem;
}

.site-header .primary .left-nav .menu-icon > span:not(:last-child) {
  margin-bottom: 0.2rem;
}

@media (min-width: 50em) {
  .site-header .primary .left-nav .menu-icon {
    display: none;
  }
}

.site-header .primary .left-nav .toggle-menu {
  position: absolute;
  z-index: 1;
  left: 65vw;
  -webkit-animation: left-to-right 200ms ease-in-out;
          animation: left-to-right 200ms ease-in-out;
  z-index: 100;
}

.site-header .primary .left-nav .toggle-menu > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-header .primary .left-nav .toggle-menu > span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.site-header .primary .left-nav .toggle-menu > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes left-to-right {
  from {
    left: 0;
  }
  to {
    left: 65vw;
  }
}

@keyframes left-to-right {
  from {
    left: 0;
  }
  to {
    left: 65vw;
  }
}

@media (max-width: 49.9375em) {
  .site-header .primary .left-nav .toggle-menu {
    left: 70vw;
  }
}

.site-header .primary .left-nav .site-logo {
  color: #4d4d4d;
  font-size: 1.3rem;
}

.site-header .primary .nav-links {
  gap: 2rem;
}

.site-header .primary .nav-links li {
  padding: 1.5rem 1rem;
}

.site-header .primary .nav-links li a {
  color: #595959;
}

.site-header .primary .nav-links li:hover {
  background: #f2f2f2;
}

@media (max-width: 49.9375em) {
  .site-header .primary .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    font-size: 1rem;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    padding: 5rem 0;
    -webkit-box-shadow: 0 0 1rem #333, 0 0 999rem 999rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1rem #333, 0 0 999rem 999rem rgba(0, 0, 0, 0.5);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    z-index: 99;
  }
  .site-header .primary .nav-links li {
    padding: 1.5rem 2rem;
  }
  .site-header .primary .nav-links li:hover {
    background: #f2f2f2;
  }
}

.site-header .primary .show-menu {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.showcase .showcase-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gaP: 2rem;
}

@media (max-width: 63.9375em) {
  .showcase .showcase-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.showcase .showcase-content .left-showcase {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
}

.showcase .showcase-content .left-showcase p {
  font-weight: 300;
  max-width: 600px;
}

.showcase .showcase-content .left-showcase .showcase-title {
  font-weight: 500;
  font-size: 2rem;
}

.showcase .showcase-content .left-showcase .showcase-description {
  line-height: 1.6;
  font-weight: 300;
}

.showcase .showcase-content .left-showcase .buttons {
  gap: 1rem;
}

@media (max-width: 49.9375em) {
  .showcase .showcase-content .left-showcase .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.showcase .showcase-content .right-showcase {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase-content .right-showcase img {
  width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase .showcase-content .right-showcase .showcase-article {
  position: relative;
  margin: 1.5rem 0;
  max-width: 90%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 0.5rem;
}

.showcase .showcase-content .right-showcase .showcase-article:hover {
  outline: 3px solid #3740FF;
  -webkit-box-shadow: 0 0 0.5rem #333;
          box-shadow: 0 0 0.5rem #333;
}

@media (max-width: 49.9375em) {
  .showcase .showcase-content .right-showcase .showcase-article {
    max-width: 100%;
  }
}

.showcase .showcase-content .right-showcase .showcase-article:first-child {
  color: #333;
}

.showcase .showcase-content .right-showcase .showcase-article:first-child .article-content {
  padding: 1rem;
  gap: 11rem;
}

@media (max-width: 49.9375em) {
  .showcase .showcase-content .right-showcase .showcase-article:first-child .article-content {
    gap: 4rem;
  }
}

.showcase .showcase-content .right-showcase .showcase-article:last-child {
  color: #FFFFFF;
}

.showcase .showcase-content .right-showcase .showcase-article:last-child .article-content {
  padding: 1rem;
  gap: 9.5rem;
  z-index: 10;
}

@media (max-width: 49.9375em) {
  .showcase .showcase-content .right-showcase .showcase-article:last-child .article-content {
    gap: 1.5rem;
  }
}

.showcase .showcase-content .right-showcase .showcase-article .article-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase .showcase-content .right-showcase .showcase-article .img-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background: #333;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.showcase .showcase-content .right-showcase .showcase-article .article-image {
  height: 250px;
  border-radius: 0.5rem;
  z-index: 1;
}

@media (min-width: 64em) {
  .showcase .showcase-content .right-showcase .showcase-article .article-image {
    width: 600px;
  }
}

@media (max-width: 49.9375em) {
  .showcase .showcase-content .right-showcase .showcase-article .article-image {
    height: 150px;
  }
}

@media (max-width: 63.9375em) {
  .showcase .showcase-content .right-showcase .showcase-article .article-image {
    width: 100vw;
  }
}

.featured-courses .courses {
  overflow-x: scroll;
  padding: 2rem 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

@media (min-width: 90em) {
  .featured-courses .courses {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
}

.featured-courses .courses::-webkit-scrollbar {
  height: .625rem;
}

.featured-courses .courses::-webkit-scrollbar-track {
  background: #b3b3b3;
  border-radius: 1.25rem;
}

.featured-courses .courses::-webkit-scrollbar-thumb {
  border-radius: .625rem;
  background: #666666;
}

.featured-courses .courses .card {
  width: 18.75rem;
  min-width: 21.875rem;
  min-height: 18.75rem;
  border: 1px solid #cccccc;
  border-radius: 0.4rem;
  padding: 1rem 1rem 0 1rem;
  background: var(--bg-color);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 49.9375em) {
  .featured-courses .courses .card {
    min-width: 17rem;
  }
}

@media (min-width: 64em) {
  .featured-courses .courses .card:hover ~ .card {
    -webkit-transform: translateX(8.125rem);
            transform: translateX(8.125rem);
  }
  .featured-courses .courses .card:not(:first-child) {
    margin-left: -8.125rem;
  }
}

.featured-courses .courses .card:hover {
  outline: 2px solid #3740FF;
  -webkit-box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.featured-courses .courses .card .top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.featured-courses .courses .card .top-card .card-number {
  background: #3740FF;
  border-radius: 9999px;
  padding: 0.3rem 0.7rem;
  color: #FFFFFF;
  font-size: 0.8rem;
}

.featured-courses .courses .card .top-card .card-number span {
  font-size: 1rem;
  margin-left: 0.4rem;
}

.featured-courses .courses .card .card-description {
  color: #666666;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.case-studies .articles {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case-studies .articles .case-study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  max-width: 500px;
  border: 0.0625rem solid #cccccc;
  border-radius: 0.43rem;
  padding: 1rem;
  font-weight: 300;
}

.case-studies .articles .case-study:hover {
  background: #fafafa;
}

@media (max-width: 49.9375em) {
  .case-studies .articles .case-study {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.case-studies .articles .case-study *:not(:last-child) {
  margin-bottom: 1rem;
}

.case-studies .articles .case-study a h3 {
  font-size: clamp(1.1rem, 3vw, 1.6rem);
  line-height: 1.3;
}

.case-studies .articles .case-study a h3:hover {
  text-decoration: underline;
}

.case-studies .articles .case-study p {
  color: #666666;
  line-height: 1.7;
  font-size: 1.1rem;
}

.case-studies .articles .case-study img {
  width: 500px;
  height: clamp(150px, 30vw, 300px);
  border-radius: 0.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 49.9375em) {
  .case-studies .articles .case-study img {
    width: 100%;
  }
}

.case-studies .articles .case-study .links .button--transparent {
  border-radius: 9999px;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: none;
  margin: 0;
}

.patterns .snippets {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.patterns .snippets .snippet {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  max-width: 300px;
  background: #F8F9FA;
  border-radius: 0.3rem;
  padding: 1rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (max-width: 49.9375em) {
  .patterns .snippets .snippet {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.patterns .snippets .snippet:hover {
  outline: 2px solid #3740FF;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.patterns .snippets .snippet *:not(:last-child) {
  margin-bottom: 1rem;
}

.patterns .snippets .snippet h3 {
  font-weight: 400;
}

.patterns .snippets .snippet p {
  font-weight: 300;
  font-size: 0.9rem;
  color: #666666;
  line-height: 1.6;
}

.learning-materials .materials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 49.9375em) {
  .learning-materials .materials {
    gap: 2rem;
  }
}

.learning-materials .materials .material {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  height: 500px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 400px;
  padding: 1rem;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
}

.learning-materials .materials .material:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 49.9375em) {
  .learning-materials .materials .material {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 350px;
  }
}

.learning-materials .materials .material a {
  color: #FFFFFF;
}

.learning-materials .materials .material a *:not(:last-child) {
  margin-bottom: 1rem;
}

.learning-materials .materials .material img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.4rem;
  z-index: -1;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.learning-materials .materials h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.learning-materials .materials p {
  font-size: 0.9rem;
  line-height: 1.7;
}

.learning-materials .materials .show img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 49.9375em) {
  .learning-materials .materials .show img {
    border-radius: 0.4rem;
  }
}

.learning-materials .materials .podcast img {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 49.9375em) {
  .learning-materials .materials .podcast img {
    border-radius: 0.4rem;
  }
}

.footer {
  border-top: 1px solid #e6e6e6;
  padding: 3rem 0;
}

.footer .footer-content {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;
}

.footer .footer-content ul *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.footer .footer-content ul h3 {
  font-weight: 400;
}

.footer .footer-content ul li a {
  font-size: 0.9rem;
  color: #595959;
}

.footer .footer-content ul li a:hover {
  text-decoration: underline;
}
