:root {
  --primary: #2980b9;
  --secondary: #343131;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: white;
  color: black;
  height: 100%;
  line-height: 1.3em;
  font-family: Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.styled {
  list-style-type: disc;
}

.bq-top {
  background: #e7f2fa;
  color: black;
  border-top: 3px solid #6ab0de;
  padding: 5px;
  width: max-content;
}

.bq-left {
  background: #ececec;
  color: black;
  border-left: 3px solid #c0c0c0;
  padding: 5px;
  width: max-content;
}

img {
  width: 100%;
  display: block;
}

.var-blue {
  color: #49a7e6;
  font-weight: bold;
  font-size: 0.9em;
}

.var-grey {
  color: #818181;
  font-weight: bold;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: currentColor;
}

.highlight {
  background: white;
  color: black;
  font-weight: bold;
}

input {
  border-radius: 20px;
  padding: 3px 10px;
}

hr {
  opacity: 0.1;
  margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 0.8em;
  color: #4f8db6;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-size: 0.9em;
}

.light {
  opacity: 0.5;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.btn {
  padding: 5px 15px;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.spacing-20 {
  margin-bottom: 20px;
}

.spacing-30 {
  margin-bottom: 30px;
}

.spacing-40 {
  margin-bottom: 40px;
}

.spacing-50 {
  margin-bottom: 50px;
}

.left-20 {
  margin-left: 20px;
}

.left-40 {
  margin-left: 40px;
}

.site-nav {
  background: var(--secondary);
  color: white;
  width: 19em;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: fixed;
  padding-bottom: 50px;
}

.site-nav::-webkit-scrollbar {
  display: none;
}

.nav-header {
  background: var(--primary);
  text-align: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.nav-header input {
  width: 100%;
}

.nav-header h5 {
  width: 70%;
}

.nav-links {
  padding-top: 0.8em;
}
.nav-links h4 {
  padding: 10px 20px;
}

.nav-links li a {
  display: block;
  position: relative;
  font-size: 0.85em;
  padding: 0.5em 2em;
}

.nav-links li a:hover {
  background: rgb(90, 90, 90);
}

.nav-links li a:active {
  background: var(--primary);
}

.read-docs {
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  background: rgb(37, 37, 37);
  width: 19em;
  padding: 10px;
}

.read-docs p {
  color: lightgreen;
  font-size: 0.95em;
}

/* Main */
.main-content {
  margin-left: 18em;
  padding: 40px 50px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.main-content p,
.main-content li {
  color: rgb(100, 100, 100);
}

.main-content a {
  color: var(--primary);
}

.main-nav {
  justify-content: space-between;
}

.left-nav {
  gap: 10px;
}

.right-nav img {
  width: 17px;
  display: inline-block;
  vertical-align: middle;
}
.headlink {
  visibility: hidden;
  font-size: 0.6em;
}

.section:hover .headlink {
  visibility: visible;
}

.todo {
  background: #ffedcc;
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  max-width: 95%;
}

.todo .window-title {
  display: block;
  font-weight: bold;
  background: #f0b37e;
  padding: 4px 10px;
  margin: -12px;
  margin-bottom: 12px;
  color: white;
}

.todo p,
.todo li {
  margin-bottom: 30px;
}

.todo ul {
  padding-left: 30px;
}

blockquote {
  margin: 10px 0;
}

#lv1 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: max-content;
}

tbody .odd {
  background: #eeeeee;
}

.table {
  overflow-x: scroll;
}

#lv1 td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

.ad {
  justify-content: center;
  align-items: center;
}

.ad p {
  color: black;
  font-size: 0.8em;
}

.ad .box {
  background: #eeeeee;
  width: 300px;
  padding: 10px;
  text-align: center;
}

.ad .box img {
  flex-basis: 50%;
}

.ad .box .flex {
  justify-content: center;
  gap: 20px;
}

.ad .flex p {
  color: #6d6d6d;
  font-style: italic;
  font-size: 0.7em;
}

.copyright {
  margin-left: 20px;
  font-size: 0.9em;
}
