* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
}

/* Utilities */
ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img + .spacing {
  margin-top: 30px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button {
  background: black;
  color: white;
  padding: 10px 20px;
}

.button:hover {
  opacity: 0.9;
  transition: opacity 0.2s;
}

span.text {
  position: relative;
  left: 0;
  transition: left 0.2s;
}

span.icon {
  position: relative;
  right: 0;
  transition: right 0.2s;
}

.button:hover span.text {
  left: -5px;
  border-bottom: 2px solid white;
}

.button:hover span.icon {
  right: 5px;
}

.title {
  font-size: 25px;
}

.description {
  font-size: 13px;
}

.container {
  padding: 20px 70px;
}

/* Header */
.navbar {
  justify-content: space-between;
}

.nav-logo {
  width: 100px;
}

.navbar a:hover {
  border-bottom: 2px solid black;
}

.navbar ul {
  gap: 20px;
}

.navbar ul li {
  font-size: 12px;
}

.navbar ul li i {
  font-size: 15px;
}

.hero-slide {
  width: 100%;
  min-height: 420px;
  background: url("images/image1.webp");
  margin-top: 20px;
  padding: 80px;
  justify-content: left;
}

.hero-content {
  width: 50%;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-content .button {
  width: 270px;
  font-weight: 700;
  font-size: 13px;
}

/* Options */
.options {
  padding: 50px;
  text-align: center;
}

.option-item {
  flex: 1;
  cursor: pointer;
}

.option-item .option-title {
  font-size: 14px;
}

/* Cards utilities */
.card-item {
  height: 300px;
  flex: 1 1;
  gap: 10px;
}

.card-item a {
  color: rgb(55, 141, 255);
  font-size: 14px;
  font-weight: bold;
}

.card-item a i {
  font-size: 20px;
  vertical-align: middle;
}

.cards-one .flex,
.cards-two .flex {
  flex-wrap: wrap;
  gap: 20px;
}

/* Card One */
.cards-one {
  min-height: 420px;
}

/* Outlook */
.outlook {
  margin: 30px 0;
  min-height: 500px;
}
.outlook-container {
  width: 100%;
  min-height: 420px;
  background: url("images/image3.webp");
  margin-top: 20px;
  padding: 80px;
  align-items: left;
  justify-content: left;
}

.outlook-content {
  gap: 15px;
}

.outlook-content .button {
  width: 170px;
  font-weight: 700;
  font-size: 13px;
}

/* Card Two */
.cards-two {
  min-height: 420px;
}

.cards-two .title {
  margin-bottom: 10px;
}

/* Covid Response */
.covid-response {
  background: rgb(233, 233, 233);
  min-height: 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.covid-response .title {
  font-size: 25px;
}

.covid-response a {
  font-size: 14px;
  font-weight: bold;
}

.covid-response a i {
  font-size: 20px;
  vertical-align: middle;
}

/* Social Media */
.social-media {
  margin-top: 20px;
}
.links {
  justify-content: left;
  gap: 10px;
  color: rgb(112, 112, 112);
  font-size: 14px;
}

/* Footer */
footer {
  background: rgb(242, 242, 242);
  padding: 30px 50px;
}
.grid {
  display: grid;
  grid-template-areas: "one two three four five six";
}

.grid-item > * {
  margin-top: 10px;
}

.grid-item .item-title {
  font-size: 14px;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.grid-item .item-link {
  font-size: 10px;
  color: rgb(112, 112, 112);
}

.bottom-links {
  margin-top: 30px;
  font-size: 10px;
  color: rgb(112, 112, 112);
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-links ul {
  gap: 30px;
}

.left-links i {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.right-links {
  flex-wrap: wrap;
}

/* Media Queries */

@media (max-width: 720px) {
  .container {
    width: 100vw;
    padding: 20px 0;
    margin: auto;
  }
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    width: 100%;
  }
  .hero-slide {
    width: 100%;
  }

  .hero-content {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .cards-one,
  .cards-two {
    margin: 0 30px;
  }

  .card-item {
    flex: 1;
  }

  .outlook-content {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .social-media {
    margin-left: 20px;
  }

  .options {
    justify-content: left;
  }

  .options .flex {
    flex-direction: column;
  }

  .options .option-item {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  .option-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .option-item .option-title {
    font-size: 10px;
  }

  .grid {
    grid-template-areas:
      "one two three"
      "four five six";
  }
}

@media (max-width: 960px) {
  .hero-content {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 1280px) {
  .card-item {
    height: 100%;
  }
}
